@font-face {
  font-family: Inter;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/HelveticaNeue-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/HelveticaNeue-Medium.woff2') format('woff2');
}

@font-face {
  font-family: DIN;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/DIN-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}
