@import 'utils';
@import 'fonts';
@import 'reset';
@import 'typography';

@import 'block/header';
@import 'block/button';
@import 'block/nav';
@import 'block/hero';
@import 'block/benefits';

body {
  font-family: $ff-main;
  color: $c-black;
  background: $c-white;
}

.container {
  @include container;
}

.page__main {
  padding-top: 130px;

  @include tablet {
    padding-top: 140px;
  }
}
