// ------------- Colors ------------- //
$c-black: #131313;
$c-gray-dark: #4f4f4f;
$c-gray-light: #bdbdbd;
$c-gray-lighter: #d0d0d0;
$c-white: #f7f7f7;
$c-text-dark: #333;
$c-text-gray: #7c7c7c;
$c-primary: #0db2b3;
$c-primary-light: #cfeff0;
$c-primary-lightest: #eefafa;

// ------------- Fonts ------------- //
$ff-main: 'Inter';
$ff-second: 'Helvetica Neue';

// ------------- Breakpoints ------------- //
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1440px;

// ------------- Container ------------- //
$container-max-width: 1200px;
$container-padding-mobile: 30px;
$container-padding-tablet: 34px;
$container-padding-desktop: 123px;

// ------------- Section Spacing ------------- //
$section-spacing-mobile: 110px;
$section-spacing-tablet: 140px;
$section-spacing-desktop: 170px;

// ------------- Grid ------------- //
$gutter-mobile: 20px;
$gutter-tablet: 20px;
$gutter-desktop: 30px;
$columns-mobile: 4;
$columns-tablet: 8;
$columns-desktop: 12;
