.product-showcase {
  @include section-spacing;
  @include grid;

  width: 100%;

  .visually-hidden {
    @extend %visually-hidden;
  }

  &__image {
    grid-column: 1 / -1;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
